
@{
    ViewData["Title"] = "Add new product";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
    {
        <div class="container" style="margin-block: 5%;">
            <div class="add-product-fields">
                <label for="id">Code:</label>
                <input type="number" id="id" name="id" placeholder="1000"/>
            </div>

            <div class="add-product-fields">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="text" />
            </div>

            <div class="add-product-fields">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" placeholder="0,0" />
            </div>

            <div class="add-product-fields">
                <label for="count">Count:</label>
                <input type="number" id="count" name="count" placeholder="0" />
            </div>

            <div class="add-product-fields">
                <input type="submit" value="Add" class="product-action-button" />
            </div>
        </div>
    }
</div>